# MS-E - Reservas e Agenda (Template)
MICRONAUT_SERVER_PORT=8084
DB_URL=jdbc:postgresql://localhost:5433/aluguelcarros
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
JWT_GENERATOR_SIGNATURE_SECRET=sua_chave_jwt_aqui
