
# Database connection (Supabase example)
DB_URL=jdbc:postgresql://db.<SEU_PROJECT_REF>.supabase.co:5432/postgres?sslmode=require
DB_USER=postgres
DB_PASSWORD=your_database_password
JWT_GENERATOR_SIGNATURE_SECRET=troque-esta-chave-jwt

MICRONAUT_SERVER_HOST=0.0.0.0
MICRONAUT_SERVER_PORT=8081


#env para caso de algum problema com supabase, e tenha que mudar para o banco local
#DB_HOST=postgres
#DB_PORT=5432
#DB_NAME=aluguel-carro
#DB_URL=jdbc:postgresql://postgres:5432/aluguel-carro
#DB_USER=admin
#DB_PASSWORD=admin

# Copy this file to `.env` and replace with real credentials.
# Do NOT commit your `.env` file to version control.
