# Importar tambem variaveis do .env.shared
SERVICE_NAME=servico-b
SERVICE_PORT=8081

DB_URL=jdbc:postgresql://${SUPABASE_HOST}:${SUPABASE_PORT}/${SUPABASE_DB}?sslmode=${SUPABASE_SSLMODE}
DB_USER=postgres.<SEU_PROJECT_REF>
DB_PASSWORD=troque_essa_senha
JWT_GENERATOR_SIGNATURE_SECRET=troque-esta-chave-jwt
