#POSTGRES_HOST=postgres
#POSTGRES_PORT=5433
#POSTGRES_DB=aluguel-carro
#POSTGRES_SSLMODE=disable
SUPABASE_HOST=db.<SEU_PROJECT_REF>.supabase.co
SUPABASE_PORT=5432
SUPABASE_DB=postgres
SUPABASE_SSLMODE=require