# Importar tambem variaveis do .env.shared
SERVICE_NAME=servico-a
SERVICE_PORT=8080

#DB_URL=jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=${POSTGRES_SSLMODE}
#DB_USER=app_user
DB_URL=jdbc:postgresql://${SUPABASE_HOST}:${SUPABASE_PORT}/${SUPABASE_DB}?sslmode=${SUPABASE_SSLMODE}
DB_USER=postgres.<SEU_PROJECT_REF>
DB_PASSWORD=
JWT_GENERATOR_SIGNATURE_SECRET=troque-esta-chave-jwt

# Comunicacao interna com o servico B
SERVICE_B_BASE_URL=http://service-b:8081
